@model IEnumerable<Assign3C1.Models.Teachers>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<h3>List of All the teachers</h3>

<div class="container">
    @foreach (var teacher in Model)
    {
        <div> <a href="/Teacher/Show/@teacher.teacherid"> @teacher.teacherfname @teacher.teacherlname </a> --- <a href="/Classes/Courses/@teacher.teacherid"> Courses </a></div>
    }
</div>
