@model IEnumerable<Assign3C1.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<div>
    <form method="get" action="/Teacher/search">
        <label for="input">Search Teachers:</label>
        <input name="input" type="text" placeholder="name, hiredate, salary..">
        <input type="submit" value="Search">
        <a href="/Teacher/AddTeacher" style="padding:5px; background-color:lightblue; border-radius:10px">Add Teacher</a>
    </form>
</div>

<h3>List of All the teachers</h3>

<div class="container" style="width:60%;">
    @foreach (var teacher in Model)
    {
        <div style="width:100%;">
            <a href="/Teacher/Show/@teacher.teacherid"> @teacher.teacherfname @teacher.teacherlname </a> ---
            <a href="/Classes/Courses/@teacher.teacherid"> Courses </a> | 
            <a href="/Teacher/DeletePage/@teacher.teacherid" style="background-color:red; color:white; border-radius:12px; padding:10px">Delete</a>
            <a href="/Teacher/UpdateTeacher/@teacher.teacherid" style="background-color:royalblue; color:white; border-radius:12px; padding:10px">Update</a>

        </div>

    }

</div>
