@model Assign3C1.Models.Classes



@{
    ViewBag.Title = "Courses";
}

<h2>Teacher Information</h2>

<div class="list-container">
    <ul class="list">
        <li> <strong> Class Code : </strong> @Model.classcode</li>
        <li> <strong> Class Name : </strong> @Model.classname</li>
    </ul>
</div>
